body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/*nav bar styles*/
header {
  background-color: #16110C; /*black*/
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4%;
  padding: .5%;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  box-shadow: 5px 5px 15px #FBD49E;
}

#site-identity {
  display: inline-flex;
  align-items: center;
  width: 50%;
  margin: .5%;
  padding: 0;
}

#site-identity a {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#logo {
  width: 5%;
  height: auto;
  margin: 1%;
  padding: 0;
}

#site-title {
  font-size: 1.5rem;
  font-family: "Playfair Display SC", serif;
  color: #FBD49E;
  padding: 0;
}

nav {
  margin: 1.5%;
  font-family: "Bowlby One", cursive;
  padding: 0;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

nav li {
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.menu-button a {
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  color: #FBD49E;
  width: 125px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
}

/*.menu-button {
  font-size: 1.15rem;
  color: #FBD49E;
  width: 125px;
  margin: 3%;
  padding: 2%;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
}*/

.sub-menu {
  display: inline-block;
  background-color: #16110C;
  align-items: center;
  justify-content: center;
  padding: 2%;
  position: relative;
  top: 30%;
  width: 150%;
  height: auto;
  overflow-x: visible;
  display: none;
  list-style-type: none;
  font-family: "Playfair Display SC", serif;
}

.sub-menu a, li {
  font-size: .85rem;
  text-align: left;
  padding: 2%;
  margin: 5%;
}

.current-page a {
  color: #ffffff;
}

/*general styles*/
/*Text*/
h1 {
  font-size: 3.3rem;
  font-family: "Bowlby One", cursive;
  color: #ffffff;
}

h2 {
  font-size: 1.75rem;
  font-family: "Playfair Display SC", serif;
  color: #ffffff;
}

h3 {
  font-size: 1.25rem;
  font-family: "Playfair Display SC", serif;
  color: #ffffff;
}

p {
  font-size: 1rem;
  font-family: "Muli", sans-serif;
}

p.tab {
  text-indent: 5%;
}

a {
  color: #FBD49E;
  text-decoration: none;
  margin: 0;
}

/*Images*/
img {
  border-radius: 15px;
}

.image-container {
  position: relative;
}

.image-title {
  position: absolute;
  top: 2%;
  padding: 2%;
  justify-content: center;
  align-items: center;
  margin: 0;
  left: 1%;
  background-image: linear-gradient(to right, rgba(22,17,12,.9), rgba(22,17,12,.85), rgba(22,17,12,0));
  width: 45%;
  height: 50px;
  color: #ffffff;
  display: none;
  border-radius: 15% 0 0 15%;
}

p.image-title {
  font-size: .95rem;
}

.source {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: 0;
  height: 30px;
  padding: 1%;
  bottom: 2%;
  right: 2%;
  border-radius: 0 15% 15% 0;
  text-align: right;
  background-image: linear-gradient(to left, rgba(22,17,12,.9), rgba(22,17,12,.85), rgba(22,17,12,0));
}

p.source{
  font-size: .75rem;
}

/*Classes*/
.main-container {
  width: 100%;
  position: relative;
  left: 0;
  right: 0%;
  padding: 3% 0;
}

.vertical-line {
  border-left: 2px solid #ffffff;
  height: 750px;
  margin: 5%;
}

.hidden {
  display: none;
}

.italicized {
  font-style: italic;
}

.highlighted {
  background-color: #AA363F;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1%;
  padding: 1%;
  font-size: 1.25rem;
  border-bottom: 3px solid #FBD49E;
  box-sizing: border-box;
  height: 50px;
}

.highlighted-submenu {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #FBD49E;
  box-sizing: border-box;
}

.highlighted-image {
  box-shadow: 0px 5px 15px #16110C;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  margin: 0;
}

.bigImage {
  position: absolute;
  width: 60%;
  height: auto;
  z-index: 2;
  left: 20%;
  right: 20%;
  top: 5%;
  bottom: 5%;
}

/*footer styles*/
footer {
  background-color: #16110C;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
  left: 0;
  color: #FBD49E;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer p {
  font-size: .8rem;
  font-family: "Muli", sans-serif;
  color: #FBD49E;
}

footer li {
  font-size: .8rem;
  font-family: "Muli", sans-serif;
}

footer a {
  color: #FBD49E;
  text-decoration: none;
}

#more-links {
  display: block;
  justify-content: flex-start;
  width: 50%;
  padding-left: 5%;
}

#additional-pages {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

#additional-pages ul {
  display: inline-flex;
  margin-bottom: 2%;
  padding-left: 0;
  width: 100%;
}

#additional-pages li {
  list-style-type: none;
  padding: 0;
  margin-right: 3%;
  margin-left: 0;
}


#social-media {
  width: 50%;
  display: inline-flex;
  margin-top: 0;
}

.social-links {
  width: 7.5%;
  height: 7.5%;
  margin-right: 2%;
  border-radius: 0;
}

#copyright {
  width: 50%;
  text-align: right;
  padding-right: 5%;
}
